/* List.css */

.list {
    display: flex;
    /* flex-wrap: 0 */
    justify-content: space-between; /* This will provide the equal space between the cards */
    padding: 30px;
    list-style: none;
  }
  
  .list .card-container {
    display: inline-block;
    width: calc((100% / 4) - 40px); 
    justify-content: center;
    overflow: auto;
    border: 1px solid rgb(9, 9, 14);
    box-shadow: 0px 2px 5px rgb(0, 0, 1);
    padding: 40px;
    background-color: rgb(252, 252, 252);
    margin: 15px;
    text-align: center;
  }
  
  .list .card-image {
    margin-bottom: 12px;
  }
  
  .list .card-title {
    color: rgb(0, 0%, 20%);
  }
  

  
  